*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*a{
    text-decoration: none;
}
body{
    font-size: 16px; 
}
:root{
    /* colors */
    --red: #B11022; 
    --black: #000000; 
    --soft-grey: #434444; 
    --white: #FFFFFF; 
    
    /* fonts */
    --body-font: 'Inter', sans-serif;
    --title-font: 'Inter', sans-serif;
    --menue-font: 'Saira Condensed', sans-serif;
}
header{
    clip-path: polygon(0px 0px, 100% 0px, 100% 70%, 0px 100%);
    background-color: tomato;
    height: 50vh;
}
nav{
    display: flex; 
    background-color:black;
    justify-content: space-between;
    margin: 0 160px;
}

.logo{
    flex:2;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: var(--menue-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 28.8px */
    text-transform: uppercase;

}
.navLinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex: 1;
    color: #FFF;
    font-family:var(--menue-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 17.6px */
}
header>h1{
    color: #FFF;
    font-family: var(--title-font);
    font-size: 123px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 110.7px */
    text-transform: uppercase;
    margin: 133px 414px 218px 160px;
}
header>h1>span{
    color:var(--red);
}

