*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*a{
    text-decoration: none;
}
body{
    font-size: 16px; 
    background-color: var(--soft-grey);
}
:root{
    /* colors */
    --red: #B11022; 
    --black: #000000; 
    --soft-grey: #E8E8E8; 
    --white: #FFFFFF; 
    
    /* fonts */
    --body-font: 'Inter', sans-serif;
    --title-font: 'Inter', sans-serif;
    --menue-font: 'Saira Condensed', sans-serif;
}
header{
    clip-path: polygon(0px 0px, 102% 0px, 226% 66%, 0px 100%);
    height: 573px;
    position: relative;
    background-image:linear-gradient(89deg, #000 50.64%, rgba(0, 0, 0, 0.00) 69.26%);
    text-wrap: balance;
}
nav{
    display: flex; 
    background-color:transparent;
    justify-content: space-between;
    margin: 0 160px;
    padding-top: 47px;
}

.logo{
    flex:2;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: var(--menue-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 28.8px */
    text-transform: uppercase;

}
.navLinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex: 1;
    color: #FFF;
    font-family:var(--menue-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 17.6px */
}
.btn{
   background-color: var(--red);
   width: 70px;
   height: 30px;
   border: none;
   font-family: var(--menue-font);
   color: var(--white);
}
header>h1{
    color: #FFF;
    font-family: var(--title-font);
    font-size: 123px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 110.7px */
    text-transform: uppercase;
    margin: 133px 414px 218px 160px;
}
header>h1>span{
    color:var(--red);
}
header>img{
    position: absolute;
    top: -75px;
    right: -288px;
    aspect-ratio: 3 / 2;
    width: 1440px;
    z-index: -1;
    object-fit: cover;
    filter: saturate(150%);
    filter: contrast(1.3);
}
.call{
    display:flex;
    width: 1123px;
    margin: 120px auto;
    justify-content: space-between
}
.img>img{
    height: 586px;
    max-width: 569px;
}
.right{
    width: 455px;
}
.heading2{
    font-size: 50px;
    font-family: var(--title-font);
    font-weight: 700;
    line-height: 110%; /* 55px */
    text-transform: uppercase;
    margin-bottom: 31px; 
    position: relative;
    text-wrap: balance;
}
.right>h2::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 144px;
    background-color: var(--red);
    position: absolute;
    left: -10px;
    top: 10px;
}
.right>p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 31px; 
}
footer{
    display: grid;
    grid-template-rows: 110px 47px;
    height: 307px;
    padding: 120px 390px;
}
.heading2>span{
    color: var(--red);
}
.footerHalf{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials{
    display: flex;
    justify-content: space-evenly;
    height: max-content;
    width: 150px;
}
.email{
    display: flex;
    gap: 12px;
}





